[VERIFICATION_REPORT](https://drive.google.com/file/d/1j3ma4h82hdgA804tLwiFNYkeP0xLXRR7/view?usp=sharing)
